@model IList<DAL.Models.Product>
@{
    Layout = null;
}

<style>
    .checkbox label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr {
        position: relative;
        display: inline-block;
        border: 1px solid #a9a9a9;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        float: left;
        margin-right: .5em;
    }

        .checkbox .cr .cr-icon {
            position: absolute;
            font-size: .8em;
            line-height: 0;
            top: 50%;
            left: 15%;
        }

    .checkbox label input[type="checkbox"] {
        display: none;
    }

        .checkbox label input[type="checkbox"] + .cr > .cr-icon {
            opacity: 0;
        }

        .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
            opacity: 1;
        }

        .checkbox label input[type="checkbox"]:disabled + .cr {
            opacity: .5;
        }
</style>

<div id="inventoryDashboard">
    <div class="card">
        <div class="card-body">
            <div class="alert alert-success" role="alert" data-bind="visible: ShowSucessMessage">
                <text data-bind="text: SucessMessage"></text>
            </div>
            <div>
                <button data-bind="click: ShowAddProduct" class="btn btn-info btn-lg">Agregar Producto</button>
                &nbsp;&nbsp;
                <button data-bind="click: PrintProduct" class="btn btn-info btn-lg">Imprimir (<text data-bind="text: SelectedToPrint"></text>)</button>
            </div>
            <table class="table table-bordered" style="margin-top:25px">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Código
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            # de pedido
                        </th>
                        <th>
                            # de catalogo
                        </th>
                        <th>
                            Código sanitario
                        </th>
                        <th>
                            Marca
                        </th>
                        <th>
                            Fábrica
                        </th>
                        <th>
                            País de Origen
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Products">
                    <tr>
                        <th style="text-align:center">
                            <div class="checkbox">
                                <label style="padding-left:0px">
                                    <input type="checkbox" data-bind="checked: $data.Checked, click: $root.CheckedClick" />
                                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                </label>
                            </div>
                        </th>
                        <td>
                            <text data-bind="text: $data.Code"></text>
                        </td>
                        <td>
                            <text data-bind="text: $data.Name"></text>
                        </td>
                        <td>
                            <text data-bind="text: $data.OrderNumber"></text>
                        </td>
                        <td>
                            <text data-bind="text: $data.CatalogNumber"></text>
                        </td>
                        <td>
                            <text data-bind="text: $data.SanitaryCode"></text>
                        </td>
                        <td>
                            <text data-bind="text: $data.Brand"></text>
                        </td>
                        <td>
                            <text data-bind="text: $data.Factory"></text>
                        </td>
                        <td>
                            <text data-bind="text: $data.Country"></text>
                        </td>
                        <td style="text-align:center">
                            <button data-bind="click: $parent.ShowEditProduct, attr: { id: $data.Id }" class="btn btn-info btn-sm">Editar</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-danger btn-sm" data-bind="click: $parent.ShowDeleteProduct, attr: { id: $data.Id }">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="addProductModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Agregar/Editar Producto
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <div data-bind="visible: ShowNewError" class="alert alert-danger" role="alert">
                                <text data-bind="text: NewError"></text>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Código:</label>
                                    <input class="form-control" data-bind="value: NewCode" />
                                </div>
                                <div class="col-md-6">
                                    <label>Nombre:</label>
                                    <input class="form-control" data-bind="value: NewName" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-6">
                                    <label># de Pedido:</label>
                                    <input class="form-control" data-bind="value: NewOrderNumber" />
                                </div>
                                <div class="col-md-6">
                                    <label># de Catalogo:</label>
                                    <input class="form-control" data-bind="value: NewCatalogNumber" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-6">
                                    <label>Código Sanitario:</label>
                                    <input class="form-control" data-bind="value: NewSanitaryCode" />
                                </div>
                                <div class="col-md-6">
                                    <label>Marca:</label>
                                    <input class="form-control" data-bind="value: NewBrand" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-6">
                                    <label>Fábrica:</label>
                                    <input class="form-control" data-bind="value: NewFactory" />
                                </div>
                                <div class="col-md-6">
                                    <label>Stock:</label>
                                    <input type="number" class="form-control" data-bind="value: NewStock" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12">
                                    <label>País de origen:</label>
                                    <select class="form-control" data-bind="value: NewCountry">
                                        <option value="Afganistan">Afghanistan</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antigua & Barbuda">Antigua & Barbuda</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Azerbaijan">Azerbaijan</option>
                                        <option value="Bahamas">Bahamas</option>
                                        <option value="Bahrain">Bahrain</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belarus">Belarus</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Bermuda">Bermuda</option>
                                        <option value="Bhutan">Bhutan</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Bonaire">Bonaire</option>
                                        <option value="Bosnia & Herzegovina">Bosnia & Herzegovina</option>
                                        <option value="Botswana">Botswana</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                        <option value="Brunei">Brunei</option>
                                        <option value="Bulgaria">Bulgaria</option>
                                        <option value="Burkina Faso">Burkina Faso</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Cameroon">Cameroon</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Canary Islands">Canary Islands</option>
                                        <option value="Cape Verde">Cape Verde</option>
                                        <option value="Cayman Islands">Cayman Islands</option>
                                        <option value="Central African Republic">Central African Republic</option>
                                        <option value="Chad">Chad</option>
                                        <option value="Channel Islands">Channel Islands</option>
                                        <option value="Chile">Chile</option>
                                        <option value="China">China</option>
                                        <option value="Christmas Island">Christmas Island</option>
                                        <option value="Cocos Island">Cocos Island</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Comoros">Comoros</option>
                                        <option value="Congo">Congo</option>
                                        <option value="Cook Islands">Cook Islands</option>
                                        <option value="Costa Rica">Costa Rica</option>
                                        <option value="Cote DIvoire">Cote DIvoire</option>
                                        <option value="Croatia">Croatia</option>
                                        <option value="Cuba">Cuba</option>
                                        <option value="Curaco">Curacao</option>
                                        <option value="Cyprus">Cyprus</option>
                                        <option value="Czech Republic">Czech Republic</option>
                                        <option value="Denmark">Denmark</option>
                                        <option value="Djibouti">Djibouti</option>
                                        <option value="Dominica">Dominica</option>
                                        <option value="Dominican Republic">Dominican Republic</option>
                                        <option value="East Timor">East Timor</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Egypt">Egypt</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                        <option value="Eritrea">Eritrea</option>
                                        <option value="Estonia">Estonia</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Falkland Islands">Falkland Islands</option>
                                        <option value="Faroe Islands">Faroe Islands</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Finland">Finland</option>
                                        <option value="France">France</option>
                                        <option value="French Guiana">French Guiana</option>
                                        <option value="French Polynesia">French Polynesia</option>
                                        <option value="French Southern Ter">French Southern Ter</option>
                                        <option value="Gabon">Gabon</option>
                                        <option value="Gambia">Gambia</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="Gibraltar">Gibraltar</option>
                                        <option value="Great Britain">Great Britain</option>
                                        <option value="Greece">Greece</option>
                                        <option value="Greenland">Greenland</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadeloupe">Guadeloupe</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Guinea">Guinea</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Haiti">Haiti</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="Hungary">Hungary</option>
                                        <option value="Iceland">Iceland</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="India">India</option>
                                        <option value="Iran">Iran</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Isle of Man">Isle of Man</option>
                                        <option value="Israel">Israel</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Jamaica">Jamaica</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Jordan">Jordan</option>
                                        <option value="Kazakhstan">Kazakhstan</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Kiribati">Kiribati</option>
                                        <option value="Korea North">Korea North</option>
                                        <option value="Korea Sout">Korea South</option>
                                        <option value="Kuwait">Kuwait</option>
                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                        <option value="Laos">Laos</option>
                                        <option value="Latvia">Latvia</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Lesotho">Lesotho</option>
                                        <option value="Liberia">Liberia</option>
                                        <option value="Libya">Libya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Lithuania">Lithuania</option>
                                        <option value="Luxembourg">Luxembourg</option>
                                        <option value="Macau">Macau</option>
                                        <option value="Macedonia">Macedonia</option>
                                        <option value="Madagascar">Madagascar</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Malawi">Malawi</option>
                                        <option value="Maldives">Maldives</option>
                                        <option value="Mali">Mali</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Marshall Islands">Marshall Islands</option>
                                        <option value="Martinique">Martinique</option>
                                        <option value="Mauritania">Mauritania</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Mayotte">Mayotte</option>
                                        <option value="Mexico">Mexico</option>
                                        <option value="Midway Islands">Midway Islands</option>
                                        <option value="Moldova">Moldova</option>
                                        <option value="Monaco">Monaco</option>
                                        <option value="Mongolia">Mongolia</option>
                                        <option value="Montserrat">Montserrat</option>
                                        <option value="Morocco">Morocco</option>
                                        <option value="Mozambique">Mozambique</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Nambia">Nambia</option>
                                        <option value="Nauru">Nauru</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Netherland Antilles">Netherland Antilles</option>
                                        <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                        <option value="Nevis">Nevis</option>
                                        <option value="New Caledonia">New Caledonia</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Nicaragua">Nicaragua</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Niue">Niue</option>
                                        <option value="Norfolk Island">Norfolk Island</option>
                                        <option value="Norway">Norway</option>
                                        <option value="Oman">Oman</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Palau Island">Palau Island</option>
                                        <option value="Palestine">Palestine</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Phillipines">Philippines</option>
                                        <option value="Pitcairn Island">Pitcairn Island</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Qatar">Qatar</option>
                                        <option value="Republic of Montenegro">Republic of Montenegro</option>
                                        <option value="Republic of Serbia">Republic of Serbia</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Russia">Russia</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="St Barthelemy">St Barthelemy</option>
                                        <option value="St Eustatius">St Eustatius</option>
                                        <option value="St Helena">St Helena</option>
                                        <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                        <option value="St Lucia">St Lucia</option>
                                        <option value="St Maarten">St Maarten</option>
                                        <option value="St Pierre & Miquelon">St Pierre & Miquelon</option>
                                        <option value="St Vincent & Grenadines">St Vincent & Grenadines</option>
                                        <option value="Saipan">Saipan</option>
                                        <option value="Samoa">Samoa</option>
                                        <option value="Samoa American">Samoa American</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Sao Tome & Principe">Sao Tome & Principe</option>
                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Seychelles">Seychelles</option>
                                        <option value="Sierra Leone">Sierra Leone</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Slovakia">Slovakia</option>
                                        <option value="Slovenia">Slovenia</option>
                                        <option value="Solomon Islands">Solomon Islands</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="Spain">Spain</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Sudan">Sudan</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Swaziland">Swaziland</option>
                                        <option value="Sweden">Sweden</option>
                                        <option value="Switzerland">Switzerland</option>
                                        <option value="Syria">Syria</option>
                                        <option value="Tahiti">Tahiti</option>
                                        <option value="Taiwan">Taiwan</option>
                                        <option value="Tajikistan">Tajikistan</option>
                                        <option value="Tanzania">Tanzania</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Togo">Togo</option>
                                        <option value="Tokelau">Tokelau</option>
                                        <option value="Tonga">Tonga</option>
                                        <option value="Trinidad & Tobago">Trinidad & Tobago</option>
                                        <option value="Tunisia">Tunisia</option>
                                        <option value="Turkey">Turkey</option>
                                        <option value="Turkmenistan">Turkmenistan</option>
                                        <option value="Turks & Caicos Is">Turks & Caicos Is</option>
                                        <option value="Tuvalu">Tuvalu</option>
                                        <option value="Uganda">Uganda</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="United Arab Erimates">United Arab Emirates</option>
                                        <option value="United States of America">United States of America</option>
                                        <option value="Uraguay">Uruguay</option>
                                        <option value="Uzbekistan">Uzbekistan</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Vatican City State">Vatican City State</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Vietnam">Vietnam</option>
                                        <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                        <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                        <option value="Wake Island">Wake Island</option>
                                        <option value="Wallis & Futana Is">Wallis & Futana Is</option>
                                        <option value="Yemen">Yemen</option>
                                        <option value="Zaire">Zaire</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12">
                                    <label>Descripción:</label>
                                    <textarea class="form-control" data-bind="value: NewDescription" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="text-align:center">
                        <button data-bind="click: AddProduct" class="btn btn-info">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteProductModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Eliminar Producto
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre:</label>
                                    <input class="form-control" data-bind="value: NewName" disabled />
                                </div>
                                <div class="col-md-6">
                                    <label>Tipo:</label>
                                    <select class="form-control"
                                            data-bind="options: ProductTypes,
                                                       optionsText: 'Name',
                                                       optionsValue: 'Id',
                                                       value: NewProductType,
                                                       optionsCaption: 'Seleccionar Tipo'" disabled></select>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-6">
                                    <label>Precio:</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input data-bind="value: NewPrice" type="number" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Costo:</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <input data-bind="value: NewCost" type="number" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12">
                                    <label>Código de barras:</label>
                                    <input data-bind="value: NewBarCode" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12">
                                    <label>Descripción:</label>
                                    <textarea data-bind="value: NewDescription" rows="2" class="form-control" disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="text-align:center">
                        <button data-bind="click: DeleteProduct" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function InventoryDashboard() {
            var self = this;
            self.Products = ko.observableArray();
            self.ProductTypes = ko.observableArray();
            self.ShowSucessMessage = ko.observable(false);
            self.SucessMessage = ko.observable();

            self.ShowSuccessMessageAction = function (message) {
                self.ShowSucessMessage(true);
                self.SucessMessage(message);
            }

            self.SelectedToPrint = ko.observable(0);

            self.CheckedClick = function () {
                if (self.Products().length > 0) {
                    var total = 0;
                    ko.utils.arrayForEach(self.Products(), function (product) {
                        if (product.Checked)
                            total++;
                    });
                    self.SelectedToPrint(total);
                }
                else self.SelectedToPrint(0);
                return true;
            };

            //New Product
            self.NewProductId = 0;
            self.NewName = ko.observable();
            self.NewProductType = ko.observable();
            self.NewPrice = ko.observable();
            self.NewCost = ko.observable();
            self.NewBarCode = ko.observable();
            self.NewDescription = ko.observable();

            //Errors
            self.NewError = ko.observable('');
            self.ShowNewError = ko.observable(false);
            self.ShowNewErrorAction = function (error) {
                self.NewError(error);
                self.ShowNewError(true);
            }

            self.NewCode = ko.observable();
            self.NewOrderNumber = ko.observable();
            self.NewCatalogNumber = ko.observable();
            self.NewSanitaryCode = ko.observable();
            self.NewBrand = ko.observable();
            self.NewFactory = ko.observable();
            self.NewCountry = ko.observable();
            self.NewStock = ko.observable();

            self.GetProducts = function () {
                $('#mainContentArea').hide();
                $('#mainContentLoading').show();
                $.ajax({
                    url: '/Inventory/GetProducts',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        self.Products(data);
                        $('#mainContentArea').show();
                        $('#mainContentLoading').hide();
                    }
                });
            }

            self.GetProduct = function (id) {
                self.NewProductId = id;
                $.ajax({
                    url: '/Inventory/GetProduct/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        self.NewName(data.Name);
                        self.NewCode(data.Code);
                        self.NewOrderNumber(data.OrderNumber);
                        self.NewCatalogNumber(data.CatalogNumber);
                        self.NewSanitaryCode(data.SanitaryCode);
                        self.NewBrand(data.Brand);
                        self.NewFactory(data.Factory);
                        self.NewCountry(data.Country);
                        self.NewDescription(data.Description);
                        self.NewStock(data.Stock);
                    }
                });
            }

            self.GetProductTypes = function () {
                $.ajax({
                    url: '/Inventory/GetProductTypes',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        self.ProductTypes(data);
                    }
                });
            }

            self.GetData = function () {
                self.GetProducts();
                self.GetProductTypes();
            }

            self.ShowAddProduct = function () {
                self.NewProductId = 0;
                self.NewName('');
                self.NewCode('');
                self.NewCatalogNumber('');
                self.NewSanitaryCode('');
                self.NewBrand('');
                self.NewFactory('');
                self.NewDescription('');
                self.NewCountry(null);
                self.NewStock(1);
                $('#addProductModal').modal('show');
            }

            self.ShowEditProduct = function (data, event) {
                var id = event.target.id;
                self.GetProduct(id);
                $('#addProductModal').modal('show');
            }

            self.PrintProduct = function () {
                var ids = [];
                ko.utils.arrayForEach(self.Products(), function (product) {
                    if (product.Checked)
                        ids.push(product.Id);
                });

                $.ajax({
                    url: '/Inventory/SetProductPrint/',
                    type: 'POST',
                    data: { Ids: ids },
                    success: function () {
                         window.location.href = "/Inventory/ProductPrint/";
                    }
                });
            }

            self.ShowDeleteProduct = function (data, event) {
                var id = event.target.id;
                self.GetProduct(id);
                $('#deleteProductModal').modal('show');
            }

            self.AddProduct = function () {
                if (self.NewName() != null && self.NewName().length > 0
                    && self.NewCode() != null && self.NewCode().length > 0
                    && self.NewCatalogNumber() != null && self.NewCatalogNumber().length > 0
                    && self.NewSanitaryCode() != null && self.NewSanitaryCode().length > 0
                    && self.NewBrand() != null && self.NewBrand().length > 0
                    && self.NewFactory() != null && self.NewFactory().length > 0
                    && self.NewCountry() != null && self.NewCountry().length > 0) {
                    self.ShowNewError(false);
                    var data = {
                        Name: self.NewName(), Code: self.NewCode(), OrderNumber: self.NewOrderNumber(),
                        CatalogNumber: self.NewCatalogNumber(), SanitaryCode: self.NewSanitaryCode(),
                        Brand: self.NewBrand(), Factory: self.NewFactory(), Country: self.NewCountry(),
                        Id: self.NewProductId, Description: self.NewDescription(), Stock: self.NewStock()
                    };
                    $.ajax({
                        url: '/Inventory/AddProduct/',
                        type: 'POST',
                        dataType: "json",
                        data: data,
                        success: function (response) {
                            if (response.success) {
                                self.ShowNewError(false);
                                self.GetProducts();
                                self.ShowSuccessMessageAction("El producto fue guardado con éxito.");
                                $('#addProductModal').modal('hide');
                            }
                            else {
                                self.ShowNewErrorAction(response.responseText);
                            }
                        }
                    });
                }
                else {
                    self.ShowNewErrorAction("Todos los campos son mandatorios.");
                }
            }

            self.DeleteProduct = function () {
                var data = {
                    Id: self.NewProductId
                };
                $.ajax({
                    url: '/Inventory/DeleteProduct/',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({ model: data }),
                    success: function () {
                        self.GetProducts();
                        self.ShowSuccessMessageAction('El producto fue eliminado con éxito.');
                        $('#deleteProductModal').modal('hide');
                    }
                });
            }
        }

        var inventoryDashboard = new InventoryDashboard();
        var inventoryDashboardNode = document.getElementById('inventoryDashboard');
        ko.applyBindings(inventoryDashboard, inventoryDashboardNode);
        inventoryDashboard.GetData();
    })
</script>