@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link href="http://zipcargomanagersfo.azurewebsites.net/content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <table class="table table-bordered">
        <tr>
            <td width="15%">
                Elaborado por:
            </td>
            <td width="60%">
                Adyanis Mendez - Jefe de Almacén
            </td>
            <td width="25%">
                Firma:
            </td>
        </tr>
        <tr>
            <td width="15%">
                Elaborado por:
            </td>
            <td width="60%">
                Francis Valderrama - Gerente de Operaciones
            </td>
            <td width="25%">
                Firma:
            </td>
        </tr>
        <tr>
            <td width="15%">
                Elaborado por:
            </td>
            <td width="60%">
                Sanjay Goel – Gerente General
            </td>
            <td width="25%">
                Firma:
            </td>
        </tr>
    </table>
    <div style="text-align:center;background-color:white">
        <img src="~/Images/ProductReportFooter.JPG" />
    </div>
</body>
</html>