@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link href="http://zipcargomanagersfo.azurewebsites.net/content/bootstrap.css" rel="stylesheet" />
</head>
<body>    
    <div class="row">
        <div class="col-xs-6">
            <div style="text-align:left;background-color:white">
                <img src="~/Images/iFarmaLabsLogo.png" />
            </div>
        </div>
    </div>    
</body>
</html>