
@{
    Layout = null;
}

<div id="collaboratorDashboard">
    <div class="card">
        <div class="card-body">
            <div class="alert alert-success" role="alert" data-bind="visible: ShowSucessMessage">
                <text data-bind="text: SucessMessage"></text>
            </div>
            <button data-bind="click: ShowAdd" class="btn btn-info btn-lg">Agregar Colaborador</button>
            <table class="table table-bordered" style="margin-top:25px">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Cédula
                        </th>
                        <th>
                            Dirección
                        </th>
                        <th>
                            Teléfono
                        </th>
                        <th>
                            Área de trabajo
                        </th>
                        <th width="15%"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Elements">
                    <tr>
                        <td data-bind="text: $data.Name">
                        </td>
                        <td data-bind="text: $data.LegalId">
                        </td>
                        <td data-bind="text: $data.Address">
                        </td>
                        <td data-bind="text: $data.Phone">
                        </td>
                        <td data-bind="text: $data.WorkArea">
                        </td>
                        <td style="text-align:center">
                            <button data-bind="click: $parent.ShowEdit, attr: { id: $data.Id }" class="btn btn-info btn-sm">Editar</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-danger btn-sm" data-bind="click: $parent.ShowDelete, attr: { id: $data.Id }">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="addModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Agregar/Editar Proveedor
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <div data-bind="visible: ShowNewError" class="alert alert-danger" role="alert">
                                <text data-bind="text: NewError"></text>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre: <text style="color: red">*</text> </label>
                                    <input class="form-control" data-bind="value: NewName" />
                                </div>
                                <div class="col-md-6">
                                    <label>Cédula: <text style="color: red">*</text></label>
                                    <input class="form-control" data-bind="value: NewLegalId" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-6">
                                    <label>Dirección: <text style="color: red">*</text></label>
                                    <input class="form-control" data-bind="value: NewAddress" />
                                </div>
                                <div class="col-md-6">
                                    <label>Teléfono: <text style="color: red">*</text></label>
                                    <input class="form-control" data-bind="value: NewPhone" />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-6">
                                    <label>Área: <text style="color: red">*</text></label>
                                    <select class="form-control" data-bind="value: NewWorkArea">
                                        <option value="Aministración">
                                            Aministración
                                        </option>
                                        <option value="Recepción">
                                            Recepción
                                        </option>
                                        <option value="Almacén">
                                            Almacén
                                        </option>
                                        <option value="Transporte">
                                            Transporte
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="text-align:center">
                        <img width="25" src="~/Images/bigLoading.gif" data-bind="visible: Loading()" />
                        <button data-bind="click: Add, enable: !Loading()" class="btn btn-info">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Eliminar Proveedor
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre: <text style="color: red">*</text> </label>
                                    <input class="form-control" data-bind="value: NewName" disabled />
                                </div>
                                <div class="col-md-6">
                                    <label>Cédula: <text style="color: red">*</text></label>
                                    <input class="form-control" data-bind="value: NewLegalId" disabled />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-6">
                                    <label>Dirección: <text style="color: red">*</text></label>
                                    <input class="form-control" data-bind="value: NewAddress" disabled />
                                </div>
                                <div class="col-md-6">
                                    <label>Teléfono Contacto: <text style="color: red">*</text></label>
                                    <input class="form-control" data-bind="value: NewPhone" disabled />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-6">
                                    <label>Email Contacto: <text style="color: red">*</text></label>
                                    <input data-bind="value: NewWorkArea" class="form-control" disabled />
                                </div>
                                <div class="col-md-6">
                                    <label>Dirección: <text style="color: red">*</text></label>
                                    <input class="form-control" data-bind="value: NewAddress" disabled />
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-md-12">
                                    <label>Notas:</label>
                                    <textarea data-bind="value: NewNotes" rows="2" class="form-control" disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="text-align:center">
                        <button data-bind="click: Delete" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function CollaboratorDashboard() {
            var self = this;
            self.Elements = ko.observableArray();

            //Messages
            self.NewError = ko.observable('');
            self.ShowNewError = ko.observable(false);
            self.ShowNewErrorAction = function (error) {
                self.NewError(error);
                self.ShowNewError(true);
            }

            self.ShowSucessMessage = ko.observable(false);
            self.SucessMessage = ko.observable();

            self.ShowSuccessMessageAction = function (message) {
                self.ShowSucessMessage(true);
                self.SucessMessage(message);
            }
            self.Loading = ko.observable(false);
            //New
            self.NewId = 0;
            self.NewName = ko.observable();
            self.NewLegalId = ko.observable();
            self.NewAddress = ko.observable();
            self.NewContactName = ko.observable();
            self.NewPhone = ko.observable();
            self.NewWorkArea = ko.observable();
            self.NewNotes = ko.observable();

            self.ShowAdd = function () {
                self.NewId = 0;
                self.NewName('');
                self.NewLegalId('');
                self.NewAddress('');
                self.NewContactName('');
                self.NewPhone('');
                self.NewWorkArea('');
                $('#addModal').modal('show');
            }

            self.ShowEdit = function (data, event) {
                var id = event.target.id;
                self.Get(id);
                $('#addModal').modal('show');
            }

            self.Add = function () {
                self.ShowNewError(false);
                self.Loading(true);
                var data = {
                    Name: self.NewName(), LegalId: self.NewLegalId(), Address: self.NewAddress(),
                    Phone: self.NewPhone(), WorkArea: self.NewWorkArea(), Id: self.NewId
                };
                $.ajax({
                    url: '/Collaborator/Add/',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({ model: data }),
                    success: function (response) {
                        self.Loading(false);
                        if (response.success) {
                            self.ShowNewError(false);
                            self.GetData();
                            self.ShowSuccessMessageAction(response.responseText);
                            $('#addModal').modal('hide');
                        }
                        else {
                            self.ShowNewErrorAction(response.responseText);
                        }

                    }
                });
            }

            self.ShowDelete = function (data, event) {
                var id = event.target.id;
                self.Get(id);
                $('#deleteModal').modal('show');
            }

            self.Get = function (id) {
                self.NewId = id;
                $.ajax({
                    url: '/Collaborator/Get/' + id,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        self.NewName(data.Name);
                        self.NewLegalId(data.LegalId);
                        self.NewAddress(data.Address);
                        self.NewPhone(data.Phone);
                        self.NewWorkArea(data.WorkArea);
                    }
                });
            }

            self.GetData = function () {
                $('#mainContentArea').hide();
                $('#mainContentLoading').show();
                $.ajax({
                    url: '/Collaborator/GetData',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        self.Elements(data);
                        $('#mainContentArea').show();
                        $('#mainContentLoading').hide();
                    }
                });
            }

            self.Delete = function () {
                var data = {
                    Id: self.NewId
                };
                $.ajax({
                    url: '/Collaborator/Delete/',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify({ model: data }),
                    success: function () {
                        self.GetData();
                        self.ShowSuccessMessageAction('El cliente fue eliminado con éxito.');
                        $('#deleteModal').modal('hide');
                    }
                });
            }
        }

        var collaboratorDashboard = new CollaboratorDashboard();
        var collaboratorDashboardNode = document.getElementById('collaboratorDashboard');
        ko.applyBindings(collaboratorDashboard, collaboratorDashboardNode);
        collaboratorDashboard.GetData();
    })
</script>